name: bazel-diff

# Controls when the action will run.
on:
  push:
    branches: [main]
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Base from base branch (PR)
        if: needs.pr-check.outputs.number == null
        run: |
          echo "I'm a PR to base ${{ github.event.pull_request.base.ref }}"
          git fetch origin ${{ github.event.pull_request.base.ref }}
          git worktree add ${{ runner.temp }}/base ${{ github.event.pull_request.base.ref }}

      - name: Base from previous commit (not PR)
        if: needs.pr-check.outputs.number != null
        run: |
          echo "I'm NOT a PR"
          git worktree add ${{ runner.temp }}/base HEAD~1

      # - name: Compute
      #   run: |
      #     ls -la ${{ runner.temp }}
      #     mkdir -p ${{ runner.temp }}/old
      #     git fetch --all
      #     git worktree add ${{ runner.temp }}/old master
      #     ls -la ${{ runner.temp }}/old
      - name: Compute bazel-diff
        run: |
          bazel run //bazel/diff generate-hashes -- -w $(pwd) $(pwd)/out.json
          cat $(pwd)/out.json
